<div class="row">
    <h1>Experiencie </h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Grupo Gestion</h2> 
                <h2> 2017</h2>
                <p>Taras generales de operaria.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Vizno S.A</h2>
                <h2>2011-2014</h2>
                <p>Servicio de camarera</p>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Legion de la Buena Voluntad</h2>
                <h2>2015</h2>
                <p>Realizacion de llamadas en frio a posibles donadores.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Instituto Educativo Argentino</h2>
                <h2>2010</h2>
                <p>Atencion al cliente.</p>
            </li>
        </ul>
    </div>
</div>