<div class="row">
    <div class="container">
        <h1>Experiencie </h1>
        <div class="col-lg-11">
            <ul>
                <li>
                    <h2>Grupo Gestion</h2> 
                    <h3> 2017</h3>
                    <p>Taras generales de operaria.</p>
                </li>
            </ul>
            <ul>
                <li>
                    <h2>Vizno S.A</h2>
                    <h3>2011-2014</h3>
                    <p>Servicio de camarera</p>
                </li>
            </ul>
            <ul>
                <li>
                    <h2>Legion de la Buena Voluntad</h2>
                    <h3>2015</h3>
                    <p>Realizacion de llamadas en frio a posibles donadores.</p>
                </li>
            </ul>
            <ul>
                <li>
                    <h2>Instituto Educativo Argentino</h2>
                    <h3>2010</h3>
                    <p>Atencion al cliente.</p>
                </li>
            </ul>
        </div>
    </div>
</div>