<div class="projects" id="projects">
    <div class="projects-headings">
        <h2>My Projects</h2>
    </div>

    <div class="container">
        <div class="card">
           <div class="card-img"> 
           </div> 
           <div class="card-title">
               <h2>Project Description</h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, excepturi? Soluta corrupti itaque optio est, porro minima eveniet, quibusdam ea eum veritatis quam?</p> 
            </div>
            <div class="projects-links">
                <a href="">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-img"> 
            </div> 
            <div class="card-title">
                <h2>Project Description</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, excepturi? Soluta corrupti itaque optio est, porro minima eveniet, quibusdam ea eum veritatis quam?</p> 
             </div>
             <div class="projects-links">
                 <a href="">
                     <i class="fab fa-github"></i>
                 </a>
             </div>
         </div>
         <div class="card">
            <div class="card-img"> 
            </div> 
            <div class="card-title">
                <h2>Project Description</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, excepturi? Soluta corrupti itaque optio est, porro minima eveniet, quibusdam ea eum veritatis quam?</p> 
             </div>
             <div class="projects-links">
                 <a href="">
                     <i class="fab fa-github"></i>
                 </a>
             </div>
         </div>
    </div>
</div>