<div class="row">
    <h1>Educacion </h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <img src="./../assets/APLogo.png" alt="Logo Argentina Programa">
                <h1>Argentina Programa #YoProgramo</h1>
                <h4>2021-2022</h4>
                <p>Full Stack Developer Jr.</p>
            </li>
        </ul>
        <ul>
            <li>
                <img src="./../assets/Isip-Logo.png" alt="Logo ISIP">
                <h1>Instituto Superior en Innovaciones Pedagogicas Siglo XXI</h1> 
                <h4>2013-2016</h4>
                <p>Tecnicatura superior en administarcion de recursos humanos.</p>
            </li>
        </ul>
    </div>
</div>