<div class="wrapper">
    <header>
        <nav class="navbar">
           <div class="AP">
                <a class="navbar-brand" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
                <img src="./../assets/APLogo.png" width="250" height="150" alt="Logo Argentina Programa">
                </a> 
           </div>
           <ul class="menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#about-me">About Me</a></li>
                <li><a href="#experiencie">Experiencie</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li> 
           </ul>
           <div class="redes">
              <a href="https://github.com/JulietaOk">
                  <img src="./../assets/github.png" width="30" height="30" alt="logo github">
              </a>
              <a href="https://www.linkedin.com/in/julieta-paola-lopez/">
                  <img src="./../assets/linkedin.png" width="30" height="30" alt="logo linkedin">
              </a>    
           </div>
        </nav>
    </header>
  </div>
  
