<div class="about" id="about-me">
    <img src="./../assets/809.jpg" alt="Julieta Paola Lopez picture">
    <div class="about-info">
    <h2>About me</h2>
    <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    <p id="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis id obcaecati cumque dolore delectus eum quidem? Sint delectus debitis molestias illo. Ducimus excepturi minima eos minus ipsa, quos totam hic.</p>
    <a href="./img/JulietaPaolaLopez_cv.pdf">
        <button class="download-cv">Download CV</button>
    </a>
    </div>
</div>
