<div class="experiencie" id="experiencie">
    <h1 class="title">Experiencie </h1>
    <div class="column-left">
        <h3 class="experience-company">GRUPO GESTION</h3>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    </div>
    <div class="column-right">
        <span class="experience-job">OPERARIA</span>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
        <h2 class="experience-time">2017</h2>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
        <p class="experience-description">Taras generales de operaria.</p>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    </div>        
    <div class="column-left">
        <h3 class="experience-company">VIZNO S.A.</h3>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    </div>
    <div class="column-right">
        <span class="experience-job">CAMARERA</span>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
        <h2 class="experience-time">2011-2014</h2>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
        <p class="experience-description">Servicio de camarera</p>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    </div>    
    <div class="column-left">
        <h3 class="experience-company">LEGION DE LA BUENA VOLUNTAD</h3>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    </div>
    <div class="column-right">
        <span class="experience-job">TELEFONISTA</span>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
        <h2 class="experience-time">2015</h2>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
        <p class="experience-description">Realizacion de llamadas en frio a posibles donadores.</p>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    </div>    
    <div class="column-left">
        <h3 class="experience-company">INSTITUTO EDUCATIVO ARGENTINO</h3>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    </div>
    <div class="column-right">
        <span class="experience-job">Administrativa</span>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
        <h2 class="experience-time">2010</h2>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
        <p class="experience-description">Atencion al cliente.</p>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    </div>    
  </div>