<div class="education" id="education">  
    <h2 class="title">Education </h2>
    <div class="column-left">
     <img src="./../assets/APLogo.png" alt="Logo Argentina Programa">
    </div>
    <div class="column-right">
        <p class="education-year">2021-2022</p>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
        <h3 class="education-title" >FULL STACK DEVELOPER JR.</h3>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
        <span class="education-studies">Argentina Programa #YoProgramo</span>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    </div>  
    <div class="column-left">
        <img src="./../assets/Isip-Logo.png" alt="Logo ISIP">
    </div>
    <div class="column-right">
        <p class="education-year">2013-2016</p>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
        <h3 class="education-title">TÉCNICA SUPERIOR EN ADMINISTRACION DE RECURSOS HUMANOS</h3>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
        <span class="education-studies">Instituto Superior en Innovaciones Pedagogicas Siglo XXI</span>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    </div>    
  </div>