<div class="skills" id="skills">
    <h2>Skills</h2>
    <img src="./../assets/js.png" alt="Logo Javascript" >
    <img src="./../assets/css-3.png"  alt="CSS">
    <img src="./../assets/html-5.png"  alt="html-5" >
    <img src="./../assets/typescript.png" alt="logo typescript"> 
    <img src="./../assets/bootstrap.png" alt="bootstrap">
    <img src="./../assets/java.png" alt="Java Logo">
    <img src="./../assets/mysql.png"  alt="MySQL Logo">
    <img src="./../assets/git.png"  alt="Git logo">
    <img src="./../assets/nodejs.png"  alt="Node JS">
</div>
