<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#ff66c4'"
            [innerStrokeColor]="'#ffff'"
            [imageSrc]="'../assets/html-5.png'"
            [showImage]="true"
            [imageWidth]="70"
            [imageHeight]="70"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>  
        </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#ff66c4'"
            [innerStrokeColor]="'#ffff'"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageWidth]="70"
            [imageHeight]="70"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>  
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#ff66c4'"
            [innerStrokeColor]="'#ffff'"
            [imageSrc]="'../assets/git.png'"
            [showImage]="true"
            [imageWidth]="70"
            [imageHeight]="70"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>  
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#ff66c4'"
            [innerStrokeColor]="'#ffff'"
            [imageSrc]="'../assets/java.png'"
            [showImage]="true"
            [imageWidth]="70"
            [imageHeight]="70"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>  
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#ff66c4'"
            [innerStrokeColor]="'#ffff'"
            [imageSrc]="'../assets/mysql.png'"
            [showImage]="true"
            [imageWidth]="70"
            [imageHeight]="70"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>  
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#ff66c4'"
            [innerStrokeColor]="'#ffff'"
            [imageSrc]="'../assets/css-3.png'"
            [showImage]="true"
            [imageWidth]="70"
            [imageHeight]="70"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>  
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="70"
            [showUnits]="false"
            [title]="'Proactividad'"
            [titleColor]="'#ffff'"
            [titleFontSize]="'1em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#ff66c4'"
            [innerStrokeColor]="'#ffff'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>  
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="70"
            [showUnits]="false"
            [title]="'Creatvidad'"
            [titleColor]="'#ffff'"
            [titleFontSize]="'1em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#ff66c4'"
            [innerStrokeColor]="'#ffff'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>  
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="70"
            [showUnits]="false"
            [title]="'Adaptabilidad'"
            [titleColor]="'#ffff'"
            [titleFontSize]="'1em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#ff66c4'"
            [innerStrokeColor]="'#ffff'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
</div>
